
.navbar-default {
    background-color: #09797a;
}

.navbar-brand, 
.navbar-brand:hover,  
.navbar-brand:active {
    background-color: #ffffff !important;
}

.navbar-brand {
    padding: 10px 15px;
}

.topbar {
	border-radius: 0px;
}

.dropdown-menu > li > a {
    color: $text-color;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    color: $monzyYellow;
}

.navbar-default .navbar-nav > .dropdown.open > a, 
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
    background-color: #09797a !important;
    color: #ffffff;
}


.main {
	width: 100%;
    position: relative;
    padding-bottom:20px;
}

.content {
    margin-top: 70px;
}

.navbar-right > .dropdown > a, .navbar-right > a {
    line-height: 45px;
    margin-right: 10px;
    margin-left: 10px;
    color: #ffffff;
}

.navbar-right > .dropdown > a:hover, .navbar-right > a:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: none;
}

.navbar-right > .dropdown img {
    width: 35px;
    max-height: 35px;
    margin-right: 5px;    
}

nav.subbar {
    position: relative;
    width: 100%;
    border-radius: 0px;
    background: #fff;
    margin: 50px 0 -50px 0;
    padding: 10px 0 0 0;
    z-index: 2;
}
nav.subbar > ul.nav.nav-tabs {
    padding: 0 5px;
}

nav.subbar > ul.nav.nav-tabs > li.active > a {
    background: #dedede;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px;
}

@media(min-width:768px){
    .subbar li span {
        display: inline;
    }
}

.navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
}
.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}