.panel.panel-default > .panel-heading > h1 {
	@include panel-title;
} 

.table-blue-header thead tr th {
	background-color: #3097D1;
	color: #FFFFFF;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-10 {
	margin-top: 10px;
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
