.panel.panel-default > .panel-heading > h1 {
	@include panel-title;
} 

.table-blue-header thead tr th {
	background-color: #3097D1;
	color: #FFFFFF;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.yellow-icon {
    color: $monzyYellow;
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.v-autocomplete{position:relative}.v-autocomplete .v-autocomplete-list{position:absolute}.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item{cursor:pointer}
.v-autocomplete-input {
	display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.v-autocomplete-input:focus {
    border-color: #98cbe8;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
}

.has-error .v-autocomplete-input {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.v-autocomplete-list {
    width: 100%;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #98cbe8;
    border-top: none;
    z-index: 999999;
}
.v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
}

.v-autocomplete-list .v-autocomplete-list-item:last-child {
    border-bottom: none;
}

.v-autocomplete-list .v-autocomplete-list-item:hover {
    background-color: #eee;
}

.v-autocomplete-list .v-autocomplete-list-item abbr {
	opacity: 0.8;
   	font-size: 0.8em;
    display: block;
}


.block-label {
    display: block !important;
}

ul.alert-list {
    list-style: none;
    padding-left: 0px;
}

.help-block {
    color: $text-color;
}

.form-control {
    border: solid 1px #cccccc;
}

.btn.btn-primary {
    background-color: $text-color;
    border-color: #096e6f;
}

.btn.btn-default {
    border: solid 2px $text-color;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    background-color: #053131;
}

.table.table-default {
    border: solid 2px $tableHeaderBg;
}

.table.table-default thead {
    background-color: $tableHeaderBg;
}

.table.table-default thead th {
    border: solid 1px #fff;
}

.table.table-default tbody td {
    border-color: $tableHeaderBg;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
    background-color: $text-color;   
}

.modal-content {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(188,208,185,1) 100%);
}

.game-home {
    @include bg-cover;
    min-height: 300px;
    margin-bottom: 30px;
    padding: 25px;
    color: #ffffff;
    font-weight: bold;
}

.game-home .layer {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

.game-home .row {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.game-home:hover .row {
    opacity: 1;
}

.game-home:hover .layer {
    opacity: 0.5;
}

.game-home h2 {
    font-weight: bold;
}

.text-shadow {
    text-shadow: 2px 2px #000000 !important;
}

.teacher-container {
    background-color: #CCCCCC;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; 
    position: relative;
}

.teacher-container-info {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #FFFFFF;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.teacher-container:hover .teacher-container-info {
    opacity: 1;
}



.full-size-button {
    width: 90%;
}

.modal-logo{
    width: 50px;
    height: 50px;
}

.panel-primary > .panel-heading {
    background-color: $monyGreen;
}

.panel-primary {
    border-color: $monyGreen;
}

.game-img-container {
    width: 100%;
}

.img-teacher-content > img {
    max-width: 200px;
    max-height: 200px;
}

ul.inline-list,  ul.inline-list > li{
    display: inline;
    padding-left: 0px;
    padding-right: 10px;
}