
$body-background: #FFFFFF;

body {
	background-color: $body-background;
    position: relative;
    padding-top: 70px; 
}

body.set-bg {
    background-image: url('/images/background-header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 16px;
}

body.set-bg-green {
    background-color: #067879;
}

.welcome-title {
	margin-top: 100px;
    font-size: 150px;	
}

.form-title {
	@include form-title;
}

.form-control {
    border: solid 1px #cccccc;
}

.btn.btn-primary {
    background-color: $text-color;
    border-color: #096e6f;
}

.btn.btn-default {
    border: solid 2px $text-color;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    background-color: #053131;
}

.modal-logo{
    width: 50px;
    height: 50px;
}

.panel-primary > .panel-heading {
    background-color: $monyGreen;
}

.panel-primary {
    border-color: $monyGreen;
}

.game-img-container {
    width: 100%;
}

.margin-bottom-10 {
 	margin-bottom: 10px;   
}

.margin-bottom-20 {
    margin-bottom: 20px;   
}


/*
    HOME
*/

div.title-area {
    height: 600px;  
    padding-top: 170px;
}

div.title-area h1 {
    font-size: 50px;
    text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
    font-weight: 300;
    color: #FFFFFF;
}

.section-content h2 {
    margin-top: 30px;
    font-size: 50px;
    color: #067879;
    font-weight: 300;
}

.game-cover {
    background-image: url('/images/cover-img-play-monzy.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 35%;
}

.section-content .what-is , .section-games .what-is{
    color: $monyGreen;
    font-weight: bold;
}

#we {
    padding-top: 30px
}

div.we-bg {
    background-image: url('/images/background-header-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#we span.who-we-are {
    color: #FFFFFF;
    font-weight: bold;
}

.student-info {
    color: $monyGreen;
    border: solid 5px #ffc500;
}

.student-info, .teacher-info {
    min-height: 410px;
}

.teacher-info, .monzy-team {
    border: solid 5px $monyGreen;
}

#we .max-height {
    height: 100%;
}

#we .student-info, #we .teacher-info, #we .monzy-team {
    padding: 5px 20px;
}

#we .student-info h2, #we .teacher-info h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
}

 #we .teacher-info, #we .teacher-info h2,  #we .teacher-info h3 a, .monzy-team, .monzy-team h3, .monzy-team a{
    color: #FFFFFF !important;
}

#we .student-info {
    background-color: #ffc500;
}

.student-info h3 a, 
.teacher-info h3 a{
    text-decoration: none !important
}

.student-info h3 a {
    color: #bc8500 !important;
}

.section-footer {
    background-color: #f3f3f3;
}

.section-footer .copyright {
    font-size: 12px;
}

.section-footer {
    font-weight: bold;
    color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.footer-menu {
    list-style: none;
}
ul.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

ul.footer-menu li a, 
ul.footer-menu li a:hover, 
ul.footer-menu li a:active {
    color: #242424;
}

.section-form {
    padding: 40px 0px;
}

.section-form h3, .section-form h1 {
    color: #FFFFFF;
}

.section-form .icon-area {
    color: $monzyYellow;
}

.leadFormArea {
    border: solid 1px #CCC;
    padding: 20px 20px;
    border-radius: 10px;
    background: linear-gradient(-135deg, #6ca3a3, #c3be93);
}

.leadFormArea input[placeholder], .leadFormArea [placeholder], .leadFormArea *[placeholder] {
    color: #CCC;
}

.bg-form-content{
    width: 100%;
    background-color: #067879;
}

.leadFormArea .btn-default {
    width: 100%;
    color: #FFFFFF;
    border: solid 1px #067879;
    background-color: #0a797a;
}

.leadFormArea .btn-default:hover {
    background-color: #064a4b;
}

.bg-games-content {
    padding-top: 40px;
    background-color: #f3f3f3;
}

.game-bg {
    background-size: 100% 100%;
    min-width: 294px; 
    min-height: 420px;
    color: $monzyYellow;
    text-transform: uppercase;
}

.game-content {
    padding-top: 40%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.game-bg:hover .game-content, .game-bg:hover .layer{
    opacity: 1;   
}

.game-bg.dota { 
    background-image: url('/images/dota.jpg'); 
    background-repeat: no-repeat; 
}

.game-bg.lol {
    background-image: url('/images/lol.jpg'); 
    background-repeat: no-repeat; 
}

.game-bg.overwatch { 
    background-image: url('/images/overwatch.jpg'); 
    background-repeat: no-repeat; 
}

.game-bg .layer {
    width: 294px; 
    height: 420px;
    padding: 10px;
    background-color: rgba(9,121,122,0.5);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.game-bg .game-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid 5px $monzyYellow;
}


@media (max-width: 1600px) and (min-width:1400px) {
    .section-content {
        margin-top: 30px;
    }
}

@media (max-width: $screen-md-max) {

    div.title-area h1 {
        font-size: 40px;
    }   

    div.title-area {
        height: 400px;  
        padding-top: 100px;
    }

    .section-content h2 {
        font-size: 40px;
    }
}

@media (max-width: $screen-sm-max) {

    div.title-area h1 {
        font-size: 30px;
    }

    .section-content h2 {
        font-size: 30px;
    }   

    div.title-area {
        height: 300px;  
        padding-top: 100px;
    }
}

@media (max-width: $screen-xs-max) {

    .navbar-header a img {
        max-width: 100px;
    }

    div.title-area h1 {
        font-size: 16px;
    } 

    .section-content h2 {
        font-size: 16px;
    }

    .section-form h2 {
        font-size: 16px;
    }   

    div.title-area {
        height: auto;   
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .section-content .text-about {
        font-size: 14px;
    }
}